@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primary: #FFFFFF;   /* Bacground color*/
    --color-secundary: #3C3C40; /* Text color*/
    --color-terciary: #30F2AB ;  /* resaltar color #30F2AB*/
    --color-hover: #3C3C40;

    --font-montserrat: "Montserrat", "sans-serif";
    --font-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

/* Buenas, esto es un comentario en css*/

html{
    height: 100%;
}
body{
    box-sizing: border-box;
    background-color: var(--color-primary);
    color: var(--color-secundary);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciary);
    text-decoration: none;
}

.presentation{
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

}

.presentation__content{
    padding: 0% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.main__info{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title{
    font-size: 2rem;
    font-family: var(--font-krona);
}

.title-destaque{
    color:var(--color-terciary);
}

.presentation__content__paragraph{
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
}

.presentation__content__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation__content__links__text{
    font-family: var(--font-krona);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-secundary);
}

.presentation__content__links__link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--color-terciary);
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundary);
    font-family: var(--font-montserrat);
    font-weight: 600;
}

.presentation__content__links__link:hover{
    background-color: var(--color-hover);
}

.photo__of__mine{
    width: 30%;
}

.projects{
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

h3{
    font-family: var(--font-krona);
    font-size: 1.5rem;
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
}

.projects__link {
    display: flex;
    position: relative; /* Required for positioning tooltip */
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 10px;
    transition: transform 0.3s;
    text-decoration: none;
    color: var(--color-secundary);
    gap: 8px;
    font-family: var(--font-montserrat);
    font-size: 1rem;
    text-align: center;
}

.projects__link img {
    width: 40%;
    border-radius: 8px;
}

.projects__link:hover {
    transform: scale(1.1);
}

.tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-primary);
    color: var(--color-secundary); /* Color text */
    width: 260px;
    padding: 8px 12px;
    font-size: 0.9rem;
    white-space: normal;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, bottom 0.3s;
    z-index: 10;
}

.projects__link:hover .tooltip {
    opacity: 1;
    visibility: visible;
    bottom: -0px;
}

.footer{
    color: var(--color-primary);
    background-color: var(--color-terciary);
    padding: 24px;
    text-align: center;
    font-family: var(--font-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: auto;
}

@media (max-width: 768px){

    .header{
        padding: 5%;
        justify-content: center;
    }

    .header__menu__link{
        font-size: 1.3rem;
    }

    .presentation{
    padding: 8% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    }
    
    .presentation__content{
        width: auto;
    }

    .main__info{
        gap: 50px;
    }

    .presentation__content__title{
        font-size: 1.3rem;
    }

    .presentation__content__paragraph{
        font-size: 1.1rem;
    }

    .presentation__content__links__text{
        font-size: 1.3rem;
    }

    .presentation__content__links__link{
        font-size: 1rem;
    }

    .photo__of__mine{
        width: 32%;
    }

    @media (max-width: 768px){

        .presentation__content{
            justify-content: center;
            flex-direction: column;
            padding: 0% 0%;
            gap: 60px; 
        }

        .main__info{
            width: 90%;
        }

        .photo__of__mine{
            border-radius: 10%;;
        }

        .projects__title{
            font-size: 1.1rem;
        }

        .projects__link img {
            width: 20%;
            border-radius: 8px;
        }

        p{
            font-family: var(--font-montserrat);
            font-size: 1rem;
        }

        .footer{
            font-size: 1.1rem;
            width: 90%;
        }
    }
}